@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

@font-face {
  font-family: 'FiraCode';
  src: url('@/assets/fonts/FiraCode.ttf') format('truetype');
}

body {
  height: 100vh;
  height: 100%;
  font-family: "FiraCode", sans-serif !important;
}

:root {
  --primary-color: #ea8536;
  --secondary-color: #8344a7;
}

#app {
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;

  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

div.main-container {
  height: 100%;
}
